<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empréstimo de livros</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Biblioteca Virtual</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/register">Cadastro de Usuário</a></li>
            <li><a href="/lista-emprestimos">Relatórios</a></li>
            <li><a href="/cadastro-livro">Cadastrar livro</a></li>
        </ul>
    </nav>
</header>

<!-- Conteúdo principal -->
<main>
    <h1>Realize o seu empréstimo!</h1>
    <p>Verifique os livros disponíveis.</p>
    <!-- Aqui pode entrar o conteúdo do gráfico de pizza ou outras informações -->
</main>

<footer>
    <p>&copy; 2024 Biblioteca Virtual. Todos os direitos reservados.</p>
</footer>
</body>
</html>
